@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --h1-font-size: 2rem;
}

@media screen and(min-width: 900px) {
    :root{
        --h1--font-size: 3rem;
    }
}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.main h1{
    font-size: ver(--h1-font-size);
}

.main img{
    max-width: 400px;
    width: 100%;
}

.section-title{
    position: relative;
    font-weight: bold;
    color: #0368ff;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

/*-----Pseudo-Elemento-----*/

.section-title::after{
    position: absolute;
    content: "";
    width: 130px;
    height: 0.30rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.2rem;
    background-color: #0368ff;
}

.about img{
    max-width: 400px;
    width: 100%; 
}

.progress{
    height: 10px;
    
}

.progress-bar-90{
    width: 90%;
}

.progress-bar-75{
    width: 75%;
}

.progress-bar-60{
    width: 60%;
}

.progress-bar-40{
    width: 40%;
}

.skills img{
    max-width: 500px;
    width: 100%;
}


